Repository gradlex-org/jvm-dependency-conflict-resolution, pull requests merged in 2024-05, with the labels that each got.

#131 Add org.json rule
  samples/sample-all-deactivated/build.gradle.kts
  samples/sample-all-deactivated/build.out
  samples/sample-all/build.gradle.kts
  samples/sample-all/build.out
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/CapabilityDefinition.java
Labels: a:rule, in:conflict-resolution

#140 Add slf4j-nop to Slf4J implementations
  CHANGELOG.md
  samples/sample-all-deactivated/build.gradle.kts
  samples/sample-all-deactivated/build.out
  samples/sample-all/build.gradle.kts
  samples/sample-all/build.out
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/CapabilityDefinition.java
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/logging/LoggingModuleIdentifiers.java
  src/test/groovy/org/gradlex/jvm/dependency/conflict/test/logging/LoggingCapabilitiesPluginDetectionFunctionalTest.groovy
Labels: a:rule, in:logging

#22 Alignment rules
  CHANGELOG.md
  samples/sample-alignment/build.gradle.kts
  samples/sample-alignment/build.out
  samples/sample-alignment/build.sample.conf
  samples/sample-alignment/settings.gradle.kts
  samples/sample-alignment/src/main/java/dummy/DummyClass.java
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/AlignmentDefinition.java
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/asm/AsmAlignmentRule.java
  src/main/java/org/gradlex/jvm/dependency/conflict/detection/rules/jetty/JettyAlignmentRule.java
Labels: a:rule

#118 fix log4j2 impl doc
  src/docs/asciidoc/index.adoc
Labels: documentation
